{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [
        [
          "flow-react-proptypes",
          {
            "ignoreNodeModules": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [["transform-remove-console"]]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "actions": "./src/actions",
          "components": "./src/components",
          "constants": "./src/constants",
          "containers": "./src/containers",
          "navigator": "./src/navigator",
          "state": "./src/state",
          "translations": "./src/translations",
          "utilities": "./src/utilities"
        }
      }
    ]
  ]
}
