{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "constants": "./src/constants",
          "containers": "./src/containers",
          "examples": "./src/examples",
          "libraries": "./src/libraries",
          "navigation": "./src/navigation",
          "state": "./src/state",
          "translations": "./src/translations",
          "utilities": "./src/utilities"
        }
      }
    ]
  ]
}
