{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [
        [
          "flow-react-proptypes",
          {
            "ignoreNodeModules": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [["transform-remove-console"]]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "actions": "./src/actions",
          "api": "./src/api",
          "assets": "./src/assets",
          "components": "./src/components",
          "constants": "./src/constants",
          "navigations": "./src/navigations",
          "reducers": "./src/reducers",
          "screens": "./src/screens",
          "store": "./src/store",
          "utilities": "./src/utilities"
        }
      }
    ]
  ]
}
